---
layout: default
---

<div class="home">

	<div class="top-statement">
      <p><span class="name-1">Grid.</span> <span class="name-2">Fluid Layout.</span> <span class="name-3">Responsive Grid.</span> <span class="name-4">Flexible Grid.</span> Whatever you want to call it, there are SO MANY of them out in the wild. How could you ever find the <em>best one</em>?</p>
      <p style="padding-bottom: 40px;">Unfortunately, I won't tell you which is the greatest, most awesomest grid for your site. Mainly because I DON'T KNOW. What I will do is show you as many options as I can so you are able to make an informed decision.</p>

      <div class="bar-wrapper">
	      <div class="bar-1"></div>
	      <div class="bar-2"></div>
	      <div class="bar-3"></div>
	      <div class="bar-4"></div>
	      <div class="bar-5"></div>
	      <div class="bar-6"></div>
	      <div class="bar-7"></div>
	      <div class="bar-8"></div>
      </div>

    </div>

    <div class="partial">
    	{% include_relative partials/bootstrap.html %}
    </div>
    <div class="partial">
    	{% include_relative partials/foundation.html %}
    </div>

</div>
