@import 'normalize';
@import 'grid';
@import 'mixins';
@import 'framework';
@import 'examples';

a {
	
}

a {
  color: #000;
  &:hover {
    color: #999;
  }
}

.top-title-wrap {
	float: left;
	border-bottom: 1.5px solid #fff;
	padding-right: 50px;
	h1 {
		font-size: 3.2rem;
		margin-bottom: 0;
	}
	p {
		font-size: 1.4rem;
		margin-left: 30px;
	}
}

.top-statement {
	margin-top: 35px;
	position: relative;
	p {
		font-size: 1.2em;
		line-height: 1.5em;
	}
}

.name-1 {
	color: #EE26FF;
	font-weight: bold;
}

.name-2 { 
	color: #E27451;
	font-weight: bold;
}

.name-3 {
	color: #007AFF;
	font-weight: bold;
}

.name-4 {
	color: #2FA83E;
	font-weight: bold;
}

.bar-wrapper {
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
}

.bar-1 {
	background: #EE26FF;
}

.bar-2 {
	background: #E27451;
}

.bar-3 {
	background: #007AFF;
}

.bar-4 {
	background: #2FA83E;
}

.bar-5 {
	background: #F4FC99;
}

.bar-6 {
	background: #6EFCB8;
}

.bar-7 {
	background: #FC6E6E;
}

.bar-8 {
	background: #8067FF;
}

.bar {
	float: left;
	width: 12.5%;
	height: 7.5px;

	transition: height 0.2s;
    -moz-transition: height 0.2s; 
    -webkit-transition: height 0.2s; 
    -o-transition: height 0.2s; 
    -ms-transition: height 0.2s;
}

.nav-item {
	opacity: 0;
	padding-top: 7px;
	text-align: center;

	transition:0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
	-ms-transition:0.2s;
}

.bar:hover .nav-item  {
	opacity: 1;	
	
	transition:1s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
	-ms-transition:0.2s;
}

.bar:hover {
	height: 30px;
}

.partial {
	float: left;
	width: 100%;
}

.partial-heading {
	display: inline-block;
}

.grid-docs-link {
	margin-left: 20px;
	&:hover {
		text-decoration: underline;
	}
}

.stats {
	font-size: 1.1em;
	float: left;
	width: 50%;
	&.col-right {
		padding-left: 1%;
		border-left: 1px solid #FFF;
	}
	&.col-left {
		padding-right: 1%;
	}
	section {
		border-bottom: 1px solid #fff;
		clear: both;
		float: left;
		padding-top: 7px;
		padding-bottom: 6px;
		width: 100%;
		&:nth-child(odd) {
			background: #B7CFFF;
		}
	}
	.last {
		border-bottom: none;
	}
}

.question {
	float: left;
	font-weight: 700;
	padding-left: 6px;
}

.answer {
	float: right;
	padding-right: 6px;
}

pre.prettyprint {
	background: #F7F7F7;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
	font-size: 0.8em;
	margin: 0;
}

.indent {
	padding-left: 15px;
}

.syntax .prettyprint {
	margin-bottom: 4px;
}

pre.syntax-example {
	margin-top: 5px;
}

.media-query-sizes {
	padding: 0;
	list-style-type: none;
}

.grid-example {
	float: left;
	margin-top: 30px;
	width: 100%;
}


